.image{
    background: rgb(133, 228, 133);
    max-width:100%;
    height: 410px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;


}

.imageTexting{
    background:white;
    max-width:100%;
    height:480px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}
.photo{
    height: 180px;
    margin-block-start: -580px;
    margin-block-end: 0px;
    margin-inline-start: 120px;
    margin-inline-end: 0px;

}























// .image{

//     &__first{
//         height: 320px;
//         background: rgb(140, 228, 140);
//         width: -moz-available
//     // margin: 25px; 
    
//     }
//     &__second{
//         color: blue;
//     }

//     &__photo{
//     width: 280px;
//     height: 280px;
//     margin-block-end: 0px;
//     margin-inline-start: 70px;
//     margin-inline-end: 0px;
//     margin-block-start: -280px;
//     }

// }

.image{
    // background: rgb(121, 207, 121);
    // width: -moz-available;
}
.photo{
    
    // width: 20%;
    // height: 20%;
    // margin-block-start: -320px;
    // margin-block-end: 60px;
    // margin-inline-start: 60px;
    // margin-inline-end: 0px;

    // width: 250px;
    // height: 250px;
    // margin-block-start: -230px;
    // margin-block-end: 60px;
    // margin-inline-start: 60px;
    // margin-inline-end: 0px;
    
}